# Android / Gradle
.gradle/
build/
local.properties
.cxx/
.externalNativeBuild/

# IntelliJ / Android Studio
.idea/
*.iml

# OS
.DS_Store

# Captures
captures/

# Firebase (do NOT commit secrets)
app/google-services.json
